/*Style Sheet*/
html {
	overflow-y: scroll;
}

body {
	background-color: #FFFFFF;
	font-family: 'Helvetica Neue',Helvetica,'Lucida Grande',Arial,Verdana,Sans-Serif;
}

#tilesWrapper {
	margin-top: 10px;  
	/*background-color: blue; */ 
}

#tilesContainer { 
	background-color: white;  
	width: 95%;
	margin-left: 10px; 
	margin-right: 10px; 
	margin-top: 10px; 
}

.leftClass {
	float: left;   
	width: 45%;  
/*	height: 300px; */
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px; 
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border: 5px solid #B3D4FC;	
	margin-left: 10px;  
	margin-bottom: 20px; 
}

.rightClass {
	float: right;
	width: 45%; 
	/*height: 300px; */
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px; 
	border-bottom-left-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	border: 5px solid #B3D4FC; 
	margin-right: 10px; 
	margin-bottom: 20px; 	 
}

.border {
	border: 2px solid #8F8F8F;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px; 
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;	
	padding: 10px; 
}

.tilesHeader {
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	margin-top: 0px;
}

.noMax {
	float: right; 

}

.buttonsForm {
	border-radius: 0px; 
	border-color: #105CB6;
	color: #0066CC; 
	background-color: #FFFFFF; 
	margin-top: 10px;
}

/*#test { 
	height: 100px; 
	width: 100px; 
}

.scrollWin{
	max-height: 500px;
	overflow: auto;	
}
*/